@import "tailwindcss";


@theme {

  --breakpoint-md:800px;
  --breakpoint-lg:1200px;
  --breakpoint-xl:1280px;



  --font-archivo: "Archivo Narrow", sans-serif;
  --font-bricolage: "Bricolage Grotesque", sans-serif;
  --font-lisu: "Lisu Bosa", serif;


}

@layer components {
  .marquee {
    animation: marquee 20s linear infinite;
  }

  .marquee:hover {
    animation-play-state: paused;
  }
}

@keyframes marquee {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-50%);
  }
}